body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Shape1
{
   width: 354px;
   height: 203px;
   background-color: #F8F8F8;
   background-image: none;
   border: 1px #D2D2D2 solid;
   border-radius: 10px;
}
#Shape1_text
{
   position: absolute;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    left: 1.41%;
   top: 2.46%;
   width: 96.61%;
   height: 94.09%;
   box-sizing: border-box;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_TB_MainLabel 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_TB_MainLabel
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#wb_TB_MainLabel div
{
   text-align: center;
}
#EB_MolecularMass
{
   line-height: 18px;
   margin: 0;
   border: 1px solid #DEE2E6;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#EB_MolecularMass:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_TB_MolMass 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_TB_MolMass
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#wb_TB_MolMass div
{
   text-align: left;
}
#EB_Volume
{
   line-height: 18px;
   margin: 0;
   border: 1px solid #DEE2E6;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#EB_Volume:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_TB_Volume 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_TB_Volume
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#wb_TB_Volume div
{
   text-align: left;
}
#SelB_Volume
{
   border: 1px solid #DEE2E6;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
   padding: 4px 4px 4px 4px;
   box-sizing: border-box;
}
#SelB_Volume:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_TB_Concentration 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_TB_Concentration
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#wb_TB_Concentration div
{
   text-align: left;
}
#EB_Concentration
{
   line-height: 18px;
   margin: 0;
   border: 1px solid #DEE2E6;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#EB_Concentration:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#SelB_Concentration
{
   border: 1px solid #DEE2E6;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: center;
   padding: 4px 4px 4px 4px;
   box-sizing: border-box;
}
#SelB_Concentration:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#EB_Mass
{
   line-height: 18px;
   margin: 0;
   border: 1px solid #DEE2E6;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#EB_Mass:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#wb_TB_Mass 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_TB_Mass
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#wb_TB_Mass div
{
   text-align: left;
}
#BTN_Calculate
{
   border: 1px solid #D3D3D3;
   border-radius: 4px;
   background-color: rgba(255,218,185,0.49);
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#BTN_Calculate:focus
{
   outline: 0;
}
#BTN_Calculate:hover
{
   background-color: #FFDAB9;
   transition: background-color 250ms ease-in-out 0ms;
}
#BTN_Calculate:active
{
   background-color: #FF8C00;
   transition: background-color 500ms linear 0ms;
}
#SelB_MWselection
{
   border: 1px solid #DEE2E6;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   margin: 0;
   text-align: left;
   padding: 4px 4px 4px 4px;
   box-sizing: border-box;
}
#SelB_MWselection:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
.ui-dialog.ui-widget
{
      z-index: 9999 !important;
}
.D_AddNewMWSubstance.ui-dialog
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   display: none;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
.D_AddNewMWSubstance.ui-dialog .ui-dialog-title
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-align: left;
   margin: 0;
}
.D_AddNewMWSubstance.ui-dialog .ui-dialog-titlebar
{
   background-color: #F8F8F8;
   background-image: none;
   border: 1px solid #D2D2D2;
   font-weight: normal;
   padding: 10px 10px 10px 10px;
}
.D_AddNewMWSubstance.ui-dialog .ui-dialog-titlebar-close
{
   background: none;
   border: none;
   outline: 0;
   right: 10px;
   font-family: Arial;
   font-size: 16px;
   display: none;
}
.D_AddNewMWSubstance.ui-dialog .ui-dialog-titlebar-close:after
{
   align-items: center;
   color: #212529;
   content: "\00d7";
   display: flex;
   font-size: 1.5em;
   font-weight: bold;
   height: 100%;
   justify-content: center;
   position: absolute;
   left: 0;
   text-indent: 0;
   top: 0;
   width: 100%;
}
.D_AddNewMWSubstance.ui-dialog .ui-dialog-titlebar-close .ui-icon
{
   display: none;
}
.ui-dialog .ui-dialog-buttonpane
{
   padding: 0;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border-color: #DEE2E6;
}
.ui-dialog .ui-dialog-buttonpane button
{
   margin: 6px 6px 6px 0 ;
   padding: 4px 8px 4px 8px;
   outline: none;
}
.ui-button-text-only .ui-button-text
{
   padding: 0;
   margin: 0;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   color: #212529;
}
.D_AddNewMWSubstance, .D_AddNewMWSubstance .ui-corner-all
{
   border-radius: 0px;
}
#D_AddNewMWSubstance.ui-dialog-content
{
   overflow: visible;
   padding: 0;
}
.D_AddNewMWSubstance .ui-dialog-buttonpane .ui-dialog-buttonset
{
   float: right;
}
.D_AddNewMWSubstance .ui-dialog-buttonpane
{
   text-align: right;
}
.D_AddNewMWSubstance .ui-dialog-buttonset .ui-button
{
   background-color: #FFDAB9;
   background-image: none;
   border: 1px solid #D3D3D3;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   outline: none;
}
.D_AddNewMWSubstance .ui-dialog-buttonset .ui-button .ui-state-hover, .D_AddNewMWSubstance .ui-dialog-buttonset .ui-button:hover
{
   border-color: #FFDAB9;
   background-color: #F4A460;
   background-image: none;
   color: #FFFFFF;
}
.D_AddNewMWSubstance .ui-dialog-buttonset .ui-button .ui-state-active, .D_AddNewMWSubstance .ui-dialog-buttonset .ui-button:active
{
   border-color: #F4A460;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
}
.D_AddNewMWSubstance .ui-dialog-buttonset .ui-button:focus
{
   outline: none;
}
#EB_DialogAddNewSub_Name
{
   line-height: 18px;
   margin: 0;
   border: 1px solid #DEE2E6;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#EB_DialogAddNewSub_Name:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#EB_DialogAddNewSub_MW
{
   line-height: 18px;
   margin: 0;
   border: 1px solid #DEE2E6;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
#EB_DialogAddNewSub_MW:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label1
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: center;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label1:focus
{
   outline: 0;
}
#Label2
{
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: center;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label2:focus
{
   outline: 0;
}
/* disable text selection */ 
.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}


